/* CSS style sheet specific to a single student page. */

article>h1:first-child {
  color: rgb(251, 0, 255);
}
body {
  background-color: #a1b7a9; /* Light pink background */
  font-family: 'Garamond', serif; /* Garamond font */
}