/* CSS style sheet specific to a single student page. */

article>h1:first-child {
  color: blue;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.box {
    padding: 20px;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.box:hover {
    background-color: #bbb;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#pdf-viewer {
  width: 100%;
  height: 80%;
  max-width: 1000px;
  max-height: 80vh;
  border: none;
  display: block; /* Ensure iframe is displayed */
}

/* Close Button Styles */
.modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer; /* Indicate clickable */
}

.modal .close:hover,
.modal .close:focus {
  color: black;
  text-decoration: none;
}

/* Controls Styles */
.controls {
  text-align: center;
  margin: 10px;
}

.controls button {
  margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    cursor: pointer;
}

.controls button:hover {
    background-color: #666;
}

