body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#model-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

#canvasColor{
    z-index: 998;
    opacity: 1;
    background: white;
}
