/* CSS style sheet specific to a single student page. */

body {
  background-color: #F2F2F2;
  font-family: montserrat;
  color: black;
}

main {
  width: 1600px; /* Set the constant width for the body */
  margin: 0 auto; /* Center the body */
  padding: 20px; /* Optional padding for better aesthetics */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

header {
  /* background-color: white; */
  font-family: montserrat;
  top: 0;
  /* background: linear-gradient(to bottom, #1e3c72, transparent 100%); */
  padding: 10px 20px;
  /* color: white; */
  z-index: 1000; /* Ensure it stays on top */
  border: none; /* No border */
  box-shadow: none; /* No shadow */
  margin-right: 50px;
}

header a,
header h1,
header h2,
header nav,
header nav a {
  /*color: white;  Set text color to white */
  text-decoration: none; /* Remove underlines from links */
  margin-top: 10px;
}

header a:hover {
  color: #1e3c72; /* Optional: Change link color on hover for better visibility */
  background-color: transparent;
}

.table_of_contents {
  position: fixed;
  text-align: left;
  font-weight: 700;
  margin: 0;
  padding: 0;
  top: 150px;
  left: 40px;
}

.intro {
  font-weight: 400;
}

#typing {
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from, to {
      border-color: transparent;
  }
  50% {
      border-color: black;
  }
}

.floating {
  position: absolute;
  animation: float 5s ease-in-out infinite;
  animation-delay: 0.537562s;
}
@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

h1 {
  color: #1e3c72;
}

main {
  padding: 0px;
}

/* Image object */
img {
  max-width: 100%; /* Make images resize automatically */
  height: auto; /* Maintain aspect ratio */
}

.flex-image {
  float: right;
  margin-left: 15px;
  height: 1800px;
  width: auto; /* Ensure the image maintains its aspect ratio */
  max-width: 100%; /* Ensure the image does not exceed the container's width */
}

.flex-text {
  overflow: hidden; /* Ensure proper text wrapping */
  font-size: 15px;
}

p {
  margin: 20px 0;
}

.descriptive-text {
  font-size: 15px;
  font-style: italic;
}

a{
  text-decoration: none; /* Remove underline from link texts */
  transition: color 0.5s ease, text-decoration 0.5s ease;
}

a:hover {
  background-color: #7da7f6; /* Change color on hover */
  color: black;
}