/* CSS style sheet specific to a single student page. */
/* header {
  background-color: white;
  font-family: montserrat;
}

body {
  background-color: #F2F2F2;
  margin: 0;
  padding: 0;
  font-family: montserrat;
} */

.table_of_contents {
  position: fixed;
  text-align: left;
  font-weight: 700;
  margin: 0;
  padding: 0;
  top: 150px;
  left: 40px;
}

#typing {
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from, to {
      border-color: transparent;
  }
  50% {
      border-color: black;
  }
}

.floating {
  position: absolute;
  animation: float 5s ease-in-out infinite;
  animation-delay: 0.537562s;
}
@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

h1 {
  color: #732222;
}

main {
  padding: 0px;
}

/* Image object */
.flex-image {
  float: right;
  margin-left: 15px;
  height: 1800px;
  width: auto; /* Ensure the image maintains its aspect ratio */
  max-width: 100%; /* Ensure the image does not exceed the container's width */
}

.standard-image {
  max-width: 100%;
}

.flex-text {
  overflow: hidden; /* Ensure proper text wrapping */
  font-size: 15px;
}

p {
  margin: 20px 0;
}

.descriptive-text {
  font-size: 15px;
  font-style: italic;
}