<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="An archive of student final projects from the Computation Design Practices degree program at Columbia GSAPP." />
    
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link href="/normalize.css" rel="stylesheet" />
    <link href="/main.css" rel="stylesheet" />
    
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <h1>
        <a href="https://www.arch.columbia.edu/" target="_blank">
          Columbia GSAPP
        </a>
      </h1>
      
      <h2>
        <a href="https://www.arch.columbia.edu/programs/15-m-s-computational-design-practices">
          M.S. Computational Design Practices
        </a><br>
        {% unless page.url == "/" %}
          <a href="/">Home</a> →
        {% endunless %}
        {{ title }}
      </h2>
      
      <nav>
        <a href="/">Home</a>
        <a href="/work">Student&nbsp;Work</a>
        <a href="https://docs.google.com/document/d/1Qo6nrXenc5JgFhbh6s3mjOBXv6vVZ-D5daYAWId5BBY/edit?usp=drive_link" target="_blank">
          Syllabus
        </a>
        <a href="/about">About</a>
      </nav>
    </header>
    
    <main>
      {{ content }}
    </main>
    
    <footer></footer>
  </body>
</html>